//dark
$body-dark: linear-gradient(-180deg, #0e172c, #101022);
$main-color: #ff105e;
$main-white: white;
$main-element-shadows: 0 -15px 15px rgba(57, 53, 105, 0.1),
  inset 0 -15px 15px rgba(57, 53, 105, 0.1), 0 15px 15px rgba(15, 10, 34, 0.404),
  inset 0 15px 15px rgba(1, 6, 26, 0.5);
$main-border: rgba(4, 1, 31, 0.082);
